
.main_content-be-useful {
    height: 70vh;
}

.card-useful {
    background-color: #353535;
    border-radius: 10px;
    font-weight: 700;
    font-size: 16px;
    padding: 8%;
    border: 3px solid #FCD232;
    color: #FCD232;
    margin-top: 2%;
}

.card-useful:hover {
    background-color: #FCD232;
    color: #353535;
}

.task:hover {
    text-decoration: none;
}

.position:hover {
    color: #FCD232;
    background-color: #353535;
}

.card_wrap {
    margin-top: 10%;
}

.img img {
    position: absolute;
    top: 0;
    right: 25%;
}
