.body {
    background-color: #353535;
    background-size: contain;
    font-family: 'Ubuntu' !important;
}

.white {
    color: white;
}

.brainster_color, .btn_change {
    color: #FCD232;
}

.brainster_background {
    background-color: #FCD232;
}

.legend {
    color: #FCD232;
    font-size: 22px;
    letter-spacing: 0.02em;
    padding-bottom: 10%;
}

.form_style input, .form_style textarea {
    height: 50px;
    border-radius: 7px;
    margin-bottom: 5%;
    font-size: 16px;
    background-color: transparent;
    color: white;
}

.form_style button {
    height: 50px;
    border-radius: 7px;
    border: 3px solid #FCD232;
    color: #FCD232;
    font-weight: 700;
    background-color: transparent;
    letter-spacing: 0.5%;
    font-size: 16px;
}

.form_style button:hover {
    background-color: #FCD232;
    color: #353535;
    font-weight: 700;
}

.form_style  button:focus {
    border-color: #FCD232 !important;
    outline: none !important;
    color: #353535;
    background-color: #FCD232;
}

.form_style input:focus, .form_style textarea:focus {
    border-color: #fff;
}

.blockquote_container {
    padding-right: 5%;
    height: 30vh;
    background-color: #353535;
}

.blockquote-reverse {
    border-right: 5px solid #FCD232 !important;
}

#table-scroll {
    height:150px;
    overflow:auto;
    margin-top:20px;
}

.custom_container {
    padding-left: 7%;
    padding-right: 7%;
}

.btn_change {
    background-color: #717171;
    margin-top: 2%;
}

a .btn_change:hover {
    color: #fff;
}

.min-body-height {
    min-height: 89vh;
    margin-bottom: 0;
}

