.hire-body {
	height: 100vh;
}

/*========================================================*/
/*===== GIF HIRE BACKGROUND =====*/

.gif-hire {
	background-image: url("../../public/img/hire_me_zabombey.gif");
	background-repeat: no-repeat;
	background-size: 100% 95%;
	position: relative;
}

.background_gif-hire {
	background-color: rgba(0, 0, 0, 0.7);
	background-attachment: fixed;
	background-size: cover;
}

.main_content-hire {
	height: 89vh;
}
/* end of gif hire background */



.form_style-hire {
	margin-top: 20%;
}


/*========================================================*/
/*===== FOOTER =====*/

.footer-hire {
	height: 11vh;
}

.logo-hire {
	float: left;
	margin-left: 10%;
}

#brainster_logo {
	height: 9vh;
	margin-top: 1vh;
	width: auto;
}

.btn_back-hire {
	float: right;
	margin-right: 10%;
	height: 9vh;
	margin-top: 1vh;
	border: 3px solid #353535;
	border-radius: 7px;
	padding-top: 14.76px;
	padding-left: 14.76px;
	padding-right: 14.76px;
	color: #353535;
	font-weight: 700;
	font-size: 16px;
}

.footer-hire>a:hover {
	text-decoration: none;
	background-color: #353535;
	color: #FCD232;
}
/* end of footer */

/*companies view*/
#empty_db {
	padding-top: 20%;
}


/*========================================================*/
/*===== MODAL =====*/


.modal-opener:focus,
.modal-opener:hover{
	outline: none !important;
}

.modal-open .modal,.modal-opener:focus{
	outline:none !important;
}

.modal.fade .modal-dialog {
	transform: scale(0.1);
	top: 300px;
	opacity: 0;
	transition: all 0.3s;
}

.modal.fade.in .modal-dialog {
	transform: scale(1);
	transform: translate3d(0, -300px, 0);
	opacity: 1;
}

.custom-modal {
	background-color: #383838 !important;
	color: white !important;
	text-align: center;
}

.custom-modal .modal-header {
	border: none;
	text-align: center;
}

.custom-modal .modal-body {
	text-align: center;
}

.custom-modal .modal-header h3 {
	display: block;
	text-align: center;
	margin-top: 25px;
}

.custom-modal .close-style {
	color: white;
	font-size: 30px;
	opacity: 1;
}

.custom-modal .close-style:hover {
	color: #FCD232;
}

/*end of modal*/