.index-body {
	height: 100%;
	margin: 0;
	font-family: 'Ubuntu', serif !important;
}


/*========================================================*/
/*===== NAVBAR =====*/

.navbar {
	padding-top: 0.7%;
	margin-bottom: 0 !important;
}

.logo {
	float: left;
	margin-left: 20%;
}

@media only screen and (max-width : 576px) {

	.logo {
		margin-left: 45%;
	}
}

#mainNavBar {
	width: 60%;
	padding: 0;
	overflow: hidden;
}

.logo img {
	height: 9vh;
	width: auto;
}

.li {
	display: inline-block;
	padding-top: 1%;
	padding-bottom: 1%;
	border-bottom: 2px solid rgba(0,0,0,0);
	transition: border-color 1s;
}


.yp {
	position: absolute;
	top: 10px;
	padding-top: 17.58px;
	padding-bottom: 17.58px;
}

.nplast {
	margin-left: 10%;
}


.li:not(:last-child) {
	margin-right: 5%;
}

.li a {
	color: #353535;
	font-size: 13.5px;
	font-weight: 700;
	letter-spacing: 0.02em;
	padding: 2px;
}

.li:focus, .li:hover {
 	border-color: rgba(0,0,0,1);
}

.li a:focus, .li a:hover{
 	color: #353535;
 	text-decoration: none;
}

.content button {
	padding: 0;
}

.icon-bar {
	background-color: #353535 !important;
	width: 30px !important;
	height: 4px !important;
	margin-top: 6px !important;
}
/* end of navbar */


/*========================================================*/
/*===== GIF INDEX BACKGROUND =====*/

.gif-index {
	background-image: url('../../public/img/synthesio-0301.gif');
	background-repeat: no-repeat;
	background-size: 100% auto;
	position: relative;
	padding: 0;
}

.background_gif-index {
	background-color: rgba(0, 0, 0, 0.7);
	background-attachment: fixed;
	background-size: 100% 100%;

}

.index-h1 {
	padding-top: 11%;
	font-size: 53px !important;
}

.index-h4 {
	font-size: 15px !important;
	padding-left: 22%;
	padding-right: 22%;
	padding-bottom: 15%;
	letter-spacing: 0.02em;
}

@media only screen and (max-width : 576px) {

	.navbar {
		position: fixed;
	}

	.gif-index {
		background-size: 100% 100%;
	}

	.index-h1 {
		padding-top: 2%;
		font-size: 23px !important;
	}

	.index-h4 {
		font-size: 12px !important;
		padding-left: 7%;
		padding-right: 7%;
		letter-spacing: 0.02em;
	}
}
/* end of gif index background */


/*========================================================*/
/*===== CARDS =====*/

.margin {
	margin-bottom: 5%;
}

.card img{
	width: 25%;
}

.card {
	padding: 2%;
	width: 100%;
	border-bottom: 7px solid #FCD232;
}

.card {
	overflow: hidden;
	position: relative;
}

.overlay {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.slide-up .overlay{
	background-color: rgba(0, 0, 0, 0.2);
	line-height: 250px;
	color: #fff;
	transform: translateY(100%);
	-webkit-transition: transform 0.5s ease-out;
	-o-transition: transform 0.5s ease-out;
	transition: transform 0.5s ease-out;
}

.slide-up .card:hover .overlay{
	transform: translateY(0);
}

.link a {
	color: #353535;
}

.link>a:focus {
	text-decoration: none;
	outline: none;
}

.link>a:hover {
	color: #717171;
	text-decoration: none;
}

.card-index:hover {
	border-bottom: 7px solid white;
}
/* end of cards section */


/*========================================================*/
/*===== FOOTER =====*/

.footer {
	background-color: #EDEDED;
	color: #353535;
}

.footer img{
	height: 5.5vh;
	width: auto;
	padding-left: 2%;
	padding-right: 2%;
}

.footer h5 {
	margin: 0;
	padding: 0.5%;
}

.fa-heart {
	color: red;
}

.footer .small {
	color: #03B5AA;
	padding-right: 0.5%;
}

h5 a:hover {
	text-decoration: none;
}
/* end of footer */

