
.gif-thanks {
    background:  url("../view/img/success.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60% 125%;
    /* background-color: #2c2c2e; */
}


.main_content-thanks {
    height: 100vh;
    /* background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)) */
}


.btn_back-thanks {
    float: right;
    margin-right: 10%;
    margin-top: 85vh;
    font-weight: 700;
    font-size: 2em;
    padding-left: 5px;
    padding-right: 5px;
    color: #b09402;
}

.row a {
    
}

/* .row a:hover {
    text-decoration: none !important;
    border-bottom: 4px solid #b09402;
     color: #b09402;
} */

/* p {
    position: absolute;
    top: 10vh;
    left: 20vh;
    letter-spacing: 0.05em;
    font-size: 5vw;
    font-weight: 700;
} */
